<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Development" />
  </appSettings>
  <connectionStrings>
    <add name="App" providerName="System.Data.SqlClient" connectionString="server=.;database=Journey;Integrated Security=true"/>
    <add name="Credentials" providerName="System.Data.SqlClient" connectionString="server=.;database=JourneyCredentials;Integrated Security=true"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <customErrors mode="Off" />
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="api*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
      <add name="JavaScriptHandler" path="*.js" verb="GET" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="CSSHandler" path="*.css" verb="GET" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="WOFFHandler" path="*.woff" verb="GET" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="WOFF2Handler" path="*.woff2" verb="GET" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="TTFHandler" path="*.ttf" verb="GET" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <remove name="BlockViewHandler" />
      <add name="BlockViewHandler" path="*.cshtml, *.config" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
    </compilers>
  </system.codedom>
</configuration>
