<div flex="25" id="todos" layout="row" class="md-inline-form" ng-repeat="t in todos">
    <div flex="50">
        <md-input-container>
            <md-content ng-hide="is_editing(t)" ng-click="edit(t)">{{t.name}}</md-content>
            <input ng-model="t.name" name="name" ng-show="is_editing(t)" aria-label="name" ng-keypress="save(t, $event)"/>
        </md-input-container>
    </div>
    <div flex="50">
        <md-checkbox ng-model="t.isDone" aria-label="done" ng-change="save(t)"></md-checkbox>
        <md-button ng-click="delete(t)" ng-show="t.isDone" aria-label="delete">X</md-button>
    </div>
</div>
<div>
    <md-button class="md-raised" ng-click="add()" aria-label="add">Add</md-button>
</div>