<div ng-repeat="t in todos" class="row">
    <div class="col-xs-6 form-group">
        <span ng-hide="is_editing(t)" ng-click="edit(t)">{{t.name}}</span>
        <input ng-model="t.name" name="name" ng-show="is_editing(t)" ng-keypress="save(t, $event)"/>
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="t.isDone" ng-change="save(t)"/>
        <button type="button" class="btn btn-danger btn-xs" ng-click="delete(t)" ng-show="t.isDone">X</button>
    </div>
</div>
<div>
    <button type="button" class="btn btn-success" ng-click="add()">Add</button>
</div>