<div flex="25" id="todos" layout="row" class="md-inline-form" ng-repeat="p in priorities">
    <div flex="50">
        <div ng-hide="is_editing(p)" ng-click="edit(p)">
            <md-content>{{p.name}}</md-content>
            <md-content>{{p.ordinal}}</md-content>
        </div>
        <md-input-container ng-show="is_editing(p)">
            <div flex>
                
            </div>
            <label>Name</label>
            <input ng-model="p.name" aria-label="name" ng-keypress="save(p, $event)" />
            <label>Ordinal</label>
            <input ng-model="p.ordinal" aria-label="ordinal" ng-keypress="save(p, $event)" />
        </md-input-container>
    </div>
    <div flex="50">
        <md-button ng-click="delete(p)" ng-hide="is_editing(p)" aria-label="delete">X</md-button>
    </div>
</div>
<div>
    <md-button class="md-raised" ng-click="add()" aria-label="add">Add</md-button>
</div>
